body {
    background-image: url('/images/hotel1.jpg'); /* Remplacez "background.jpg" par le nom de votre image */
    background-size: cover; /* L'image couvre tout le fond */
    background-position: center center; /* Centrer l'image */
    background-attachment: fixed; /* L'image reste fixe pendant le défilement */
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Effet hover sur les éléments de la navbar */
.navbar-nav .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease; /* Animation de la couleur et de l'arrière-plan */
}

    .navbar-nav .nav-link:hover {
        color: #ffffff; /* Change la couleur du texte au survol */
        background-color: #007bff; /* Change la couleur d'arrière-plan au survol */
    }

/* Changement de couleur pour l'élément actif dans la navbar */
.navbar-nav .nav-item.active .nav-link {
    background-color: #0056b3; /* Exemple d'arrière-plan actif */
    color: white;
}
